<% cache('footer_partial') do %>
<footer class="clearfix">
  <div id="wrapper">
    <div id="footerNav">
      <%= render :partial => 'layouts/site_partials/top_level_nav' %>
    </div>

    <p id="copyright">
      &copy; Copyright 2010.<br />
      Jonathan K. Kern Company.<br />
      All Rights Reserved.
    </p>

    <ul class="legalNav">
      <li><a href="<%= "/legal" %>">Legal</a></li>
      <li><a href="<%= "/privacy-policy" %>">Privacy Policy</a></li>
      <li><a href="<%= "/terms-of-use" %>">Terms of Use</a></li>
    </ul>

    <%= render :partial => 'layouts/site_partials/contact_info' %>
  </div>
</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1175840-54']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% end %>

