<% @item = @node.page %>

<article class="item">
  <h1 class="title"><%= @node.parent ? @node.parent.title : 'No Category' %></h1>
  <div class="product">

    <div class="left">
      <%= link_to image_tag(@item.main_image ? @item.main_image.full_size_image : "no_image_full_size.gif"), shortcut_path(@node.shortcut) %>
      <% if @item.product_images %>
        <% @item.product_images.each do |product_image| %>
          <div class="thumb">
            <%= link_to (image_tag product_image.preview_image), product_image.original_image, :rel => 'group1', :class => 'gallery' %><br />
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="right">
      <h3><%= @item.name %></h3>
      <p><%= number_to_currency(@item.cost) %></p>
      <p><%= @item.item_id %></p>
      <p><%=raw @item.details %></p>
      <% if @item.for_sale %>
        <p><strong>To order, call (859)-269-1614</strong></p>
      <% else %>
        <p><strong>Out of stock</strong></p>
      <% end %>
    </div>

  </div>
</article>




<!-- Content_for components to insert into static_page -->
<% if admin? %>
  <% content_for :page_admin_bar do %>
    <%= link_to 'Delete Item', admin_item_path(@item) , :confirm => "Are you sure you want to delete this item?", :method => :delete, :class => 'btn large' %>
    <%= link_to 'Edit Item', edit_admin_item_path(@item), :class => 'btn large' %>
  <% end %>
<% end %>

<%= content_for :subColumn do %>
  <h3><%= @node.menu_name %></h3>
  <div id="categorySub">
    <%= render "layouts/site_partials/side_nav" %>
  </div>
<% end %>


<%= content_for :breadcrumb do %>
  <%= render :partial => 'layouts/site_partials/breadcrumb' %>
<% end %>


<% content_for :page_title do %>
  <%= @node.title %>
<% end %>
<!-- End -->
